.error-dialog {
    padding: 25px;
    .header {
        img {
            width: 55%;
        }
        h1 {
            font-weight: 600;
            font-size: 34px;
            color: #e95858;
        }
    }
}
