@use "./colors";
.card-border {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: flex-start;

  .title {
    display: flex;
    align-items: flex-end;
    background-color: #F9F9F9;
    position: relative;
    padding: 0px 6px;
    left: 11px;
    top: 5px;
    width: -moz-fit-content;
    width: fit-content;
    height: 30px;
    color: #515151;
    .text{
      font-size: 16px;
    }
  }
  .body {
    border: 1px solid #d9d9d9;
    background-color: #ffff;
    border-radius: 10px;
    min-height: 10%;
    min-width: 200px;
    width: calc(100% - 20px);
    padding: 10px 10px;
  }
}

.card-simple {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: flex-start;
  padding: 10px;

  .body {
    border: none;
    background-color: #F4F4F4;
    border-radius: 10px;
    width: calc(100% - 20px);
    padding: 10px 10px;
  }
}
