/*general theme colors*/
$base_color: #062f50;
$second_color: #ffffff;
$border_color: #cdcdcd;
$default_font-color: #565656;
$card-color:#F9F9F9;
/*settings tool-menu colors*/
$save-btn-color: #67bdff;
$add-btn-color: #949e09;
$edit-btn-color: #51c118;
$delete-btn-color: #cd6812;
